body{
    margin: 0;
    font-family: 'Shadows Into Light', sans-serif;
    -webkit-font-smoothing: antieliased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}